div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 228px;

    padding: 40px;

    background-color: var(--light-blue);
}

h3  { 
    margin-bottom: 10px;
    color: var(--blue);
    font-size: 2.0rem;  
    font-weight: 300;
}    

p {
    color: var(--black);
    font-weight: 100;
    line-height: 20px;
    padding-bottom: 10px;
}



