<div class="flex-container space-around">
    <div class="card col-2-50 ">
        <img class="img-cover" src="/assets/Img/quarto-1.jpg" alt="Quarto 1" (click)="quartoUmRoute()">
        <button (click)="quartoUmRoute()">Apartamento 1 Quarto</button>
    </div>

    <div class="card col-2-50">
        <img class="img-cover" src="/assets/Img/quarto-2.jpg" alt="Quarto 2" (click)="quartoDoisRoute()">
        <button (click)="quartoDoisRoute()">Apartamento 2 Quartos</button>
    </div>

    <div class="card col-2-50">
        <img class="img-cover" src="/assets/Img/quarto-3.jpg" alt="Quarto 3" (click)="quartoTresRoute()">
        <button (click)="quartoTresRoute()">Apartamento 3 Quartos</button>
    </div>

    <div class="card col-2-50">
        <img class="img-cover" src="/assets/Img/quarto-4.jpg" alt="Quarto Adaptado" (click)="quartoAdpRoute()">
        <button (click)="quartoAdpRoute()">Apartamento Adaptado</button>
    </div>
</div>

<div class="button-div">
    <button type="button" (click)="reservasRoute()">Reservas</button>
</div>