<header>
    <div class="container">
    <img src="assets/Img/LogoFarol-V2.svg" alt="Logo Vila do Farol">
        <nav>
            <ul>
                <li><a href="javascript:void(0)" routerLink="/" [ngClass]="{'currentModule': currentModule == 'Home'}" >Home</a></li>
                <li><a href="javascript:void(0)" routerLink="/acomodacoes" [ngClass]="{'currentModule': currentModule == 'Acomodações'}">Acomodações</a></li>
                <li><a href="javascript:void(0)" routerLink="/reservas" [ngClass]="{'currentModule': currentModule == 'Reservas'}">Reservas</a></li>
            </ul>        
        </nav>
    </div>
</header>
