<div class="description-container">
    <h1>{{ title }}</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum esse deleniti,
    facilis dolorem porro earum. Et temporibus quidem quo, porro, expedita magni excepturi 
    illo corporis in iure officia architecto vero. </p>

    <div>
        <button><span class="lnr lnr-screen"></span></button>
        <button><span class="lnr lnr-select"></span></button>
        <button><span class="lnr lnr-phone-handset"></span></button>
        <button><span class="lnr lnr-film-play"></span></button>
        <button><span class="lnr lnr-sun"></span></button>
        <button><span class="lnr lnr-moon"></span></button>
        <button><span class="lnr lnr-thumbs-up"></span></button>
        <button><span class="lnr lnr-hourglass"></span></button>
        <button><span class="lnr lnr-smile"></span></button>
    </div>
</div>