<div class="flex-container space-around">
    <div class="card col-2-50 ">
        <img class="img-cover" src="/assets/Img/quarto-1.jpg" alt="Quarto 1" routerLink="/acomodacoes/quarto-1">
        <button routerLink="/acomodacoes/quarto-1">Apartamento 1 Quarto</button>
    </div>

    <div class="card col-2-50">
        <img class="img-cover" src="/assets/Img/quarto-2.jpg" alt="Quarto 2" routerLink="/acomodacoes/quarto-2">
        <button routerLink="/acomodacoes/quarto-2">Apartamento 2 Quartos</button>
    </div>

    <div class="card col-2-50">
        <img class="img-cover" src="/assets/Img/quarto-3.jpg" alt="Quarto 3" routerLink="/acomodacoes/quarto-3">
        <button routerLink="/acomodacoes/quarto-3">Apartamento 3 Quartos</button>
    </div>

    <div class="card col-2-50">
        <img class="img-cover" src="/assets/Img/quarto-4.jpg" alt="Quarto Adaptado" routerLink="/acomodacoes/quarto-adp">
        <button routerLink="/acomodacoes/quarto-adp">Apartamento Adaptado</button>
    </div>
</div>