<form [formGroup]="paymentForm" (submit)="submit()">

        <h3>Número do Cartão de Crédito</h3>
        <input id="ccn" type="tel" name="creditCard" inputmode="numeric" pattern="[0-9\s]{13,19}" autocomplete="cc-number" maxlength="19" placeholder="xxxx xxxx xxxx xxxx" formControlName="creditCard">

        <h3>Nome impresso no cartão</h3>
        <input name ="cardName" type="text" formControlName="cardName" placeholder="titular do cartão">

        <h3>Data de Validade</h3>
        <input name="expireDate" type="date" formControlName="expireDate">

        <h3>CVV</h3>
        <input name="cvv" type="number" maxlength="3" placeholder="CVV">
    
        <h3>Nome Completo</h3>
        <input type="text" name="fullName" 
               formControlName="fullName" 
               placeholder="nome completo" 
               [class.is-invalid] = "paymentForm.get('fullName').invalid && paymentForm.get('fullName').touched">

        <div *ngIf="(paymentForm.get('fullName').invalid && paymentForm.get('fullName').touched) || paymentForm.get('fullName').dirty">
            <small *ngIf="paymentForm.get('fullName').errors?.required" class="text-danger">O nome completo é obrigatório</small>
            <small *ngIf="paymentForm.get('fullName').errors?.minlength" class="text-danger">O nome deve conter no mínimo 10 letras</small>
        </div>       

        <h3>Email</h3>
            <input type="email"
                   formControlName="email" 
                   placeholder="endereço de email"
                   [class.is-invalid] = "paymentForm.get('email').invalid && paymentForm.get('email').touched">
        
        <div *ngIf="(paymentForm.get('email').invalid && paymentForm.get('email').touched) || paymentForm.get('email').dirty">
            <small *ngIf="paymentForm.get('email').errors?.required" class="text-danger">O campo de email é obrigatório</small>
            <small *ngIf="paymentForm.get('email').errors?.pattern" class="text-danger">Insira um email válido</small>
        </div>
           
        <h3>Endereço</h3>
        <input type="text"
               name="adress" 
               formControlName="adress" 
               placeholder="endereço de faturamento"
               [class.is-invalid] = "paymentForm.get('adress').invalid && paymentForm.get('adress').touched">

        <div *ngIf="(paymentForm.get('adress').invalid && paymentForm.get('adress').touched) || paymentForm.get('adress').dirty">
            <small *ngIf="paymentForm.get('adress').errors?.required" class="text-danger">O campo de endereço é obrigatório</small>
            <small *ngIf="paymentForm.get('adress').errors?.minlength" class="text-danger">O endereço deve conter no mínimo 10 letras</small>
        </div>

        <h3>Cidade</h3>
        <select name="city" id="children" formControlName="city" (change)="changeCity($event)">
            <option value="" disabled>Escolha uma opção</option>
            <option *ngFor="let city of Cities" [value]="city">{{city}}</option>
        </select>

        <h3>Código Postal</h3>
        <input type="text"
               id="number" 
               name="postalCode" 
               placeholder="Insira o código postal" 
               formControlName="postalCode" 
               [class.is-invalid] = "paymentForm.get('postalCode').invalid && paymentForm.get('postalCode').touched"/>  
        <div *ngIf="(paymentForm.get('postalCode').invalid && paymentForm.get('postalCode').touched) || paymentForm.get('postalCode').dirty">
            <small *ngIf="paymentForm.get('postalCode').errors?.required" class="text-danger">O código postal é obrigatório</small>
            <small *ngIf="paymentForm.get('postalCode').errors?.pattern" class="text-danger">Insira um código válido xxxxx-xxx</small>
        </div>
        

        <h3>País</h3>
        <select name="country" id="contry" formControlName="country" (change)="changeCountry($event)">
            <option value="" disabled>Escolha uma opção</option>
            <option *ngFor="let country of Countries" [value]="country">{{country}}</option>
        </select>

    <button type="submit" [disabled]="!paymentForm.valid">Submeter</button>
</form>


