form {
    background-color: var(--light-blue);

    width: 400px;
    height: 700px;

    padding-top: 20px;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-top: 10px;
    margin-bottom: 15px;
}

label {
    font-size: 1.6rem;
    margin-bottom: 10px;
    color: var(--black);

    &.group {
        color: var(--blue);
        font-size: 2.0rem;
    }
}

select {
    margin-bottom: 15px;
    border: none;

    &:hover {
        border-color: var(--yellow);
    }
}

input {
    margin-bottom: 15px;
    border: none;

    &:hover{
        border-color: var(--yellow);
    }
}


button {
    width: 197px;
    height: 30px;
    background-color: var(--blue);
    color: var(--white);
    border: none;

    &:hover {

        color: var(--yellow);
    }
}