form {
    background-color: var(--light-blue);

    width: 400px;
    height: 763px;

    padding: 20px;
    overflow: auto;
}

label  {
    
    margin-bottom: 10px;
    color: var(--blue);
    font-size: 2.0rem;
    
}

h3 {
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;

    &:first-of-type{
        border-top: 0px;
    }
}

select {
    min-width: 200px;
    margin-bottom: 15px;
    border: none;

    &:hover {
        border-color: var(--yellow);
    }
}

input {
    min-width: 200px;
    margin-bottom: 3px;
    border: none;

    &:hover{
        border-color: var(--yellow);
    }
}


button {
    width: 197px;
    height: 30px;
    background-color: var(--blue);
    color: var(--white);
    border: none;

    &:hover {

        color: var(--yellow);
    }
}


// --------------------------
// --------------------------
// -------MEDIA QUERIES------
// --------------------------
// --------------------------

@media	screen and (max-width: 768px) { 

    form {
        width: 350px;
    }

}