form {
    background-color: var(--light-blue);

    width: 400px;
    height: 754px;

    padding: 15px;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-top: 10px;
    margin-bottom: 15px;
}

label  {
    
    margin-bottom: 10px;
    color: var(--blue);
    font-size: 2.0rem;
    
}

h3 {
    margin-bottom: 10px;
}

select {
    min-width: 200px;
    margin-bottom: 15px;
    border: none;

    &:hover {
        border-color: var(--yellow);
    }
}

input {
    min-width: 200px;

    margin-bottom: 15px;
    border: none;

    &:hover{
        border-color: var(--yellow);
    }
}


button {
    width: 197px;
    height: 30px;
    background-color: var(--blue);
    color: var(--white);
    border: none;

    &:hover {

        color: var(--yellow);
    }
}